In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_excel('C:\\Users\\filza\\Desktop\\Disseration Work\\Dataset_Scotland.xlsx')

In [3]:
df.head()

,EmissionYear,NCFormat,SourceName,IPCC_code,IPCC_name,Emissions (MtCO2e),Pollutant,type,LULUCF category,CCP category,IPCC_level1,IPCC_level2,IPCC_level3
0,1990,Energy Supply,Power stations,1A1ai,1A1ai_Public_Electricity&Heat_Production,14.664875,CO2,Source,NaN,Electricity Generation,1: Energy,1A: Fuel Combustion,1A1: Energy Industries
1,1990,Energy Supply,Miscellaneous industrial/commercial combustion,1A1ai,1A1ai_Public_Electricity&Heat_Production,0.002440,CO2,Source,NaN,Electricity Generation,1: Energy,1A: Fuel Combustion,1A1: Energy Industries
2,1990,Energy Supply,Miscellaneous industrial/commercial combustion,1A1ai,1A1ai_Public_Electricity&Heat_Production,0.002440,CO2,Source,NaN,Electricity Generation,1: Energy,1A: Fuel Combustion,1A1: Energy Industries
3,1990,Energy Supply,Power stations,1A1ai,1A1ai_Public_Electricity&Heat_Production,14.664875,CO2,Source,NaN,Electricity Generation,1: Energy,1A: Fuel Combustion,1A1: Energy Industries
4,1990,Energy Supply,Power stations,1A1ai,1A1ai_Public_Electricity&Heat_Production:_EfW,0.004283,CO2,Source,NaN,Electricity Generation,1: Energy,1A: Fuel Combustion,1A1: Energy Industries

In [4]:
#this is to check what are the types of values in the dataset
#we can see that the emission year is in integer and the co2 emission is float64, thus, no specific conversion is required.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5671 entries, 0 to 5670
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EmissionYear        5671 non-null   int64
 1   NCFormat            5671 non-null   object
 2   SourceName          5671 non-null   object
 3   IPCC_code           5671 non-null   object
 4   IPCC_name           5671 non-null   object
 5   Emissions (MtCO2e)  5671 non-null   float64
 6   Pollutant           5671 non-null   object
 7   type                5671 non-null   object
 8   LULUCF category     783 non-null    object
 9   CCP category        5671 non-null   object
 10  IPCC_level1         5671 non-null   object
 11  IPCC_level2         5671 non-null   object
 12  IPCC_level3         5671 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 576.1+ KB

In [5]:
#checking missing values
missing_values=df.isnull().sum()
missing_values

EmissionYear             0
NCFormat                 0
SourceName               0
IPCC_code                0
IPCC_name                0
Emissions (MtCO2e)       0
Pollutant                0
type                     0
LULUCF category       4888
CCP category             0
IPCC_level1              0
IPCC_level2              0
IPCC_level3              0
dtype: int64

In [6]:
#In this dataset, LULUCF category is a missing value and is not required, thus, we will drop this specific column
df.drop(columns=['LULUCF category'], inplace=True)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [8]:
X= df[['EmissionYear']]
y=df['Emissions (MtCO2e)']

In [9]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state = 42)

In [10]:
#importing all the regression models
lr=LinearRegression()
rf=RandomForestRegressor(random_state=42)
gb=GradientBoostingRegressor(random_state=42)

#training the model
lr.fit(X_train, y_train)
rf.fit(X_train, y_train)
gb.fit(X_train, y_train)

#Run prediction based on the training set
y_pred_lr=lr.predict(X_train)
y_pred_rf=rf.predict(X_train)
y_pred_gb=gb.predict(X_train)

In [11]:
#evaluating metrics
metrics=pd.DataFrame({
    'Model': ['Linear Regression', 'Random Forest', 'Gradient Boosting'],
    'R-squared': [r2_score(y_train, y_pred_lr), r2_score(y_train, y_pred_rf), r2_score(y_train, y_pred_gb)],
    'MAE': [mean_absolute_error(y_train, y_pred_lr), mean_absolute_error(y_train, y_pred_rf), mean_absolute_error(y_train, y_pred_gb)],
    'RMSE': [np.sqrt(mean_squared_error(y_train, y_pred_lr)), np.sqrt(mean_squared_error(y_train, y_pred_rf)), np.sqrt(mean_squared_error(y_train, y_pred_gb))]
})

In [12]:
metrics

               Model  R-squared       MAE      RMSE
0  Linear Regression   0.001730  0.425965  1.209349
1      Random Forest   0.003012  0.426284  1.208572
2  Gradient Boosting   0.003071  0.425978  1.208536